name: Prettier Format Check

on:
  pull_request:

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      
      - name: Install dependencies
        run: |
          npm install --global prettier

      - name: Check formatting
        run: |
          prettier --check "**/*.{html,css,js}"
